
<link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">
<div>
   <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> ID. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
<!-- hallname -->
    <ng-container matColumnDef="hallname">
      <th mat-header-cell *matHeaderCellDef>Hall Name </th>
      <td mat-cell *matCellDef="let element"> {{element.hallname}} </td>
    </ng-container>

        <!-- date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="Time">
      <th mat-header-cell *matHeaderCellDef> Time </th>
      <td mat-cell *matCellDef="let element"> {{element.Time}} </td>
    </ng-container>
    <!-- icon -->
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef> Manage </th>
      <td mat-cell *matCellDef="let element">{{element.icon}} <button><fa-icon [icon]="faTrash"></fa-icon></button><button><fa-icon [icon]="faEdit"></fa-icon></button></td>

    </ng-container> 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[2,4,5]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>
      
</div>

</div>
