table {
    margin-top: 2%;
  width: 100%;
}
th{
  font-weight: 500;
  font-size:20px;
}
button{
  margin: 3px;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 4px 2px rgb(201, 199, 199);
}
button:hover{
  background-color: black;
  color: white;
  transform: scale(1.1);
}