<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
<ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">ID</div>
      <div class="col col-2">Associate Name</div>
      <div class="col col-3">Hall Name</div>
      <div class="col col-4">Date</div>
      <div class="col col-5">Start Time</div>
      <div class="col col-6">End Time</div>
      <div class="col col-7"></div>
      <!-- <div class="col col-8"></div> -->
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Id">1.</div>
      <div class="col col-2" data-label="Name">John Doe</div>
      <div class="col col-3" data-label="HallName">Hall 1</div>
      <div class="col col-4" data-label="Date">17-09-2022</div>
      <div class="col col-5" data-label="StartTme">9:00</div>
      <div class="col col-6" data-label="EndTime">10:00</div>
      <div class="col col-7">
        <button type="button" class="btn btn-success">Approve</button>
        <button type="button" class="btn btn-danger">Reject</button>
      </div>
    </li>
    <li class="table-row">
        <div class="col col-1" data-label="Id">2.</div>
        <div class="col col-2" data-label="Name">John Doe</div>
        <div class="col col-3" data-label="HallName">Hall 2</div>
        <div class="col col-4" data-label="Date">17-09-2022</div>
        <div class="col col-5" data-label="StartTme">9:00</div>
        <div class="col col-6" data-label="EndTime">10:00</div>
        <div class="col col-7">
          <button type="button" class="btn btn-success">Approve</button>
          <button type="button" class="btn btn-danger">Reject</button>
        </div>
      </li>
      <li class="table-row">
        <div class="col col-1" data-label="Id">3.</div>
        <div class="col col-2" data-label="Name">John Doe</div>
        <div class="col col-3" data-label="HallName">Hall 1</div>
        <div class="col col-4" data-label="Date">18-09-2022</div>
        <div class="col col-5" data-label="StartTme">9:00</div>
        <div class="col col-6" data-label="EndTime">10:00</div>
        <div class="col col-7">
          <button type="button" class="btn btn-success">Approve</button>
          <button type="button" class="btn btn-danger">Reject</button>
        </div>
      </li>
      <li class="table-row">
        <div class="col col-1" data-label="Id">4.</div>
        <div class="col col-2" data-label="Name">John Doe</div>
        <div class="col col-3" data-label="HallName">Hall 2</div>
        <div class="col col-4" data-label="Date">18-09-2022</div>
        <div class="col col-5" data-label="StartTme">11:00</div>
        <div class="col col-6" data-label="EndTime">12:00</div>
        <div class="col col-7">
          <button type="button" class="btn btn-success">Approve</button>
          <button type="button" class="btn btn-danger">Reject</button>
        </div>
      </li>
    <!-- <li class="table-row">
      <div class="col col-1" data-label="Id">2.</div>
      <div class="col col-2" data-label="Name">John Doe</div>
      <div class="col col-3" data-label="JobTitle">Teacher</div>
      <div class="col col-4" data-label="Email">johndoe@gmail.com</div>
      <div class="col col-5">
        <button type="button" class="faviconimg"><i class="fa fa-eye"></i> </button>
        <button type="button" class="faviconimg"><i class="fa fa-trash"></i> </button>
        <button type="button" class="faviconimg"><i class="fa fa-edit"></i> </button>
      </div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Id">3.</div>
      <div class="col col-2" data-label="Name">John Doe</div>
      <div class="col col-3" data-label="JobTitle">Teacher</div>
      <div class="col col-4" data-label="Email">johndoe@gmail.com</div>
      <div class="col col-5">
        <button type="button" class="faviconimg"><i class="fa fa-eye"></i> </button>
        <button type="button" class="faviconimg"><i class="fa fa-trash"></i> </button>
        <button type="button" class="faviconimg"><i class="fa fa-edit"></i> </button>
      </div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Id">4.</div>
      <div class="col col-2" data-label="Name">John Doe</div>
      <div class="col col-3" data-label="JobTitle">Teacher</div>
      <div class="col col-4" data-label="Email">johndoe@gmail.com</div>
      <div class="col col-5">
        <button type="button" class="faviconimg"><i class="fa fa-eye"></i> </button>
        <button type="button" class="faviconimg"><i class="fa fa-trash"></i> </button>
        <button type="button" class="faviconimg"><i class="fa fa-edit"></i> </button>
      </div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Id">5.</div>
      <div class="col col-2" data-label="Name">John Doe</div>
      <div class="col col-3" data-label="JobTitle">Teacher</div>
      <div class="col col-4" data-label="Email">johndoe@gmail.com</div>
      <div class="col col-5">
        <button type="button" class="faviconimg"><i class="fa fa-eye"></i> </button>
        <button type="button" class="faviconimg"><i class="fa fa-trash"></i> </button>
        <button type="button" class="faviconimg"><i class="fa fa-edit"></i> </button>
      </div>
    </li> -->
    
  </ul>
</div>
