<!-- Default form add book -->
<form #addhall="ngForm" (ngSubmit)="update()" class="container addhall text-center border border-light p-5 justify-content-center">



    <p class="h4" style="margin-bottom: 25px;" >Update Hall</p>
    <div class="form-row">
        <div class="col-md-2">
            <label for="name" class="col-sm-2 col-form-label">Name:</label>
        </div>
        <div class="col-md-8">   
            <!-- Hall Name -->
            <input id="hallName" name="name" type="text" [(ngModel)]="hall.name" class="form-control form-control-lg" placeholder="Hall Name" required >
          </div>
        </div>
    <br>

    <div class="form-row">
        <div class="col-md-2">
            <label for="capacity" class="col-sm-2 col-form-label">Seats:</label>
        </div>
        <div class="col-md-8">   
                <!-- Seating Capacity -->
                <input id="seatingCapacity" name="capacity" [(ngModel)]="hall.capacity" type="text"  class="form-control form-control-lg" placeholder="Seating Capacity" required >
    
        </div>
        </div>
    <br>

    <div class="form-row">
        <div class="col-md-2">
            <label for="location" class="col-sm-2 col-form-label">Location:</label>
        </div>
        <div class="col-md-8">   
                    <!-- Location -->
                    <input id="location" name="location" type="text" [(ngModel)]="hall.location"  class="form-control form-control-lg" placeholder="Location" required >    

        </div>
        </div>
    <br>

    <div class="form-row">
        <div class="col-md-2">
            <label for="image" class="col-sm-2 col-form-label">Image:</label>
        </div>
        <div class="col-md-8">   
                        <!-- Image -->
    <input id="image" name="image" type="text" [(ngModel)]="hall.image"  class="form-control form-control-lg" placeholder="Image URL" required >

        </div>
        </div>
    <br>

    <div class="form-row">
        <div class="col-md-2">
            <label for="about" class="col-sm-2 col-form-label">About:</label>
        </div>
        <div class="col-md-8">   
                        <!-- About -->
                        <textarea id="about" name="description" [(ngModel)]="hall.description" class="form-control form-control-lg rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="About Hall (less than 150 words)" required ></textarea>
   
        </div>
        </div>
    <br>


  


    <!-- Send button -->
    <button id="addbtn" class="btn" type="submit">Update</button>
   
  
</form>
