<div class="card bg-dark text-white">
    <img src="../../assets/images/homeuser.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h1 class="text-center mytexth">Welcome to ICTAK Hall Booking Portal</h1>
        <p class="text-center mytextp">Plan your meetings effortlessly!</p>
        <div class="text-center">
        <a routerLink="halllist-user" class="btn mybutton">Explore</a>
        </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-4 mybooking">
 
        <div class="col mb-4" *ngFor="let i of booking">
            <div class="card mycard">
                <div class="card-header text-center bg-dark text-white myheading">Your Booking</div>
              <div class="card-body text-center">
                <p class="card-text"><b>Hall Name : </b> {{i.hallname}}</p>
                <p class="card-text"><b>Date: </b> {{i.date}}</p>
                <p class="card-text"><b>Starting Time: </b> {{i.starttime}}</p>
                <p class="card-text"><b>Ending Time: </b> {{i.endtime}}</p>
                <button id="editbtn" class="btn btn-success m-2 editbtn"  type="submit">Update</button>
  
                <!-- Cancel button --> 
                <button id="cancelbtn" class="btn btn-secondary m-2 editbtn" > Cancel</button>
              </div>
            </div>
          </div>
      

