<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../../assets/images/ict-logo.jpg" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="home">Home</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Users
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="user-list">User List</a>
                    <a class="dropdown-item" href="registration">Add User</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Halls
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="conferenceRooms">ConferenceRooms</a>
                    <a class="dropdown-item" href="add-hall">Add Hall</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="admin-approval">Booking Approval</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="history">Booking History</a>
            </li>
        </ul>
    </div>

        
    <form class="form-inline my-2 my-lg-0">
        <button class="btn signout my-2 my-sm-0" type="submit" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true">Signout</i></button>
    </form>

</nav>
