<div class="center"></div>
<img src="../../assets/images/undraw_profile_pic_ic-5-t (2).svg" alt="">

<h1>{{title}}</h1>

    <form class="login_fields" [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <div class="txt_field">
            <input type="email" formControlName="email" required  name="email" placeholder="Email" ngModel>
            <br />
            <span *ngIf="loginForm?.email?.invalid && loginForm?.email?.touched" style="color: red;">Please enter in email format</span>
            <br />
        </div>

        <div class="txt_field">
            <input type="password" formControlName="password" name="password"  required  placeholder="Password" ngModel>
            <br />
            <span *ngIf="loginForm?.password?.invalid && loginForm?.password?.touched" style="color: red;">Please enter minimum 6
                characters</span>
            <br />
        </div>


        <div class="pass">Forgot Password?</div>
        <br>
        <button type="submit" [disabled]="loginForm.invalid"><a class="anchor" href="#">Login</a> </button>

        <div class="signup_link">
            Not a member? <a href="#">SignUp</a>
        </div>


        <div *ngIf="error" style="margin-top: 20px;">
            <app-message [error]="error"></app-message><br />
        </div>
        <!-- <img src="../../assets/images/undraw_hello_re_3evm.svg" class="hello-img"alt=""> -->
    </form>
