<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="row row-cols-1 row-cols-md-3 conference">
    <div class="col mb-4">
      <div class="card">
        <img src="../../assets/images/conferenceroom1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">ABC Conference Hall</h2>
          <p class="card-text"><b>Seating Capacity </b>: 8-10</p>
          <p class="card-text"><b>Location</b>: XYZ building ,5th floor ,Room No. 7</p>
          <p class="card-text"><b>Description</b>: To help keep conversation flowing equally, choose a round table environment where everyone can be physically equal.</p>
          <div class="new">
            <a href="#" class="btn a-btn-slide-text buttonnew">
                <span><i class="fa fa-edit"></i></span>
                <span>Edit</span>            
            </a>
            <a href="#" class="btn a-btn-slide-text buttonnew">
               <span><i class="fa fa-trash"></i></span>
                <span>Delete</span>            
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="../../assets/images/conferenceroom2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="card-body">
                <h2 class="card-title">ABB Conference Hall</h2>
                <p class="card-text"><b>Seating Capacity </b>: 20-23</p>
                <p class="card-text"><b>Location</b>: XYZ building ,1th floor ,Room No. 2</p>
                <p class="card-text"><b>Description</b>: To help keep conversation flowing equally, choose a round table environment where everyone can be physically equal.</p>
                <div class="new">
                  <a href="#" class="btn a-btn-slide-text buttonnew">
                      <span><i class="fa fa-edit"></i></span>
                      <span>Edit</span>            
                  </a>
                  <a href="#" class="btn a-btn-slide-text buttonnew">
                     <span><i class="fa fa-trash"></i></span>
                      <span>Delete</span>            
                  </a>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="../../assets/images/conferenceroom3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h2 class="card-title">CAM Conference Hall</h2>
            <p class="card-text"><b>Seating Capacity </b>: 50-55</p>
            <p class="card-text"><b>Location</b>: X building ,3th floor ,Room No. 7</p>
            <p class="card-text"><b>Description</b>: To help keep conversation flowing equally, choose a round table environment where everyone can be physically equal.</p>
            <div class="new">
              <a href="#" class="btn a-btn-slide-text buttonnew">
                  <span><i class="fa fa-edit"></i></span>
                  <span>Edit</span>            
              </a>
              <a href="#" class="btn a-btn-slide-text buttonnew">
                 <span><i class="fa fa-trash"></i></span>
                  <span>Delete</span>            
              </a>
            </div>
          </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="../../assets/images/conferenceroom4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h2 class="card-title">ABC Conference Hall</h2>
            <p class="card-text"><b>Seating Capacity </b>: 8-10</p>
            <p class="card-text"><b>Location</b>: XYZ building ,5th floor ,Room No. 7</p>
            <p class="card-text"><b>Description</b>: To help keep conversation flowing equally, choose a round table environment where everyone can be physically equal.</p>
            <div class="new">
              <a href="#" class="btn a-btn-slide-text buttonnew">
                  <span><i class="fa fa-edit"></i></span>
                  <span>Edit</span>            
              </a>
              <a href="#" class="btn a-btn-slide-text buttonnew">
                 <span><i class="fa fa-trash"></i></span>
                  <span>Delete</span>            
              </a>
            </div>
          </div>
      </div>
    </div>
    <div class="col mb-4">
        <div class="card">
          <img src="../../assets/images/conferenceroom6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">ABC Conference Hall</h2>
            <p class="card-text"><b>Seating Capacity </b>: 8-10</p>
            <p class="card-text"><b>Location</b>: XYZ building ,5th floor ,Room No. 7</p>
            <p class="card-text"><b>Description</b>: To help keep conversation flowing equally, choose a round table environment where everyone can be physically equal.</p>
            <div class="new">
              <a href="#" class="btn a-btn-slide-text buttonnew">
                  <span><i class="fa fa-edit"></i></span>
                  <span>Edit</span>            
              </a>
              <a href="#" class="btn a-btn-slide-text buttonnew">
                 <span><i class="fa fa-trash"></i></span>
                  <span>Delete</span>            
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="../../assets/images/conferenceroom5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">ABC Conference Hall</h2>
            <p class="card-text"><b>Seating Capacity </b>: 8-10</p>
            <p class="card-text"><b>Location</b>: XYZ building ,5th floor ,Room No. 7</p>
            <p class="card-text"><b>Description</b>: To help keep conversation flowing equally, choose a round table environment where everyone can be physically equal.</p>
            <div class="new">
              <a href="#" class="btn a-btn-slide-text buttonnew">
                  <span><i class="fa fa-edit"></i></span>
                  <span>Edit</span>            
              </a>
              <a href="#" class="btn a-btn-slide-text buttonnew">
                 <span><i class="fa fa-trash"></i></span>
                  <span>Delete</span>            
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <img src="../../assets/images/conferenceroom7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">FAM Conference Hall</h2>
            <p class="card-text"><b>Seating Capacity </b>: 70-75</p>
            <p class="card-text"><b>Location</b>: XYZ building ,5th floor ,Room No. 9</p>
            <p class="card-text"><b>Description</b>: To help keep conversation flowing equally, choose a round table environment where everyone can be physically equal.</p>
            <div class="new">
              <a href="#" class="btn a-btn-slide-text buttonnew">
                  <span><i class="fa fa-edit"></i></span>
                  <span>Edit</span>            
              </a>
              <a href="#" class="btn a-btn-slide-text buttonnew">
                 <span><i class="fa fa-trash"></i></span>
                  <span>Delete</span>            
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>