<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="row row-cols-1 row-cols-md-3 conference">
    <div class="col mb-4" *ngFor="let i of halls">
      <div class="card">
        <img src={{i.image}} class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">{{i.name}}</h2>
          <p class="card-text"><b>Seating Capacity </b>: {{i.capacity}}</p>
          <p class="card-text"><b>Location</b>: {{i.location}}</p>
          <p class="card-text"><b>Description</b>: {{i.description}}</p>
          <div class="new">
            <button class="btn a-btn-slide-text buttonnew" (click)="editHall(i)">
              <span><i class="fa fa-edit"></i></span>
                <span>Edit</span>            
            </button>
            <button class="btn a-btn-slide-text buttonnew"  (click)="delete(i)">
               <span><i class="fa fa-trash"></i></span>
                <span>Delete</span>            
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>