img{

    height: 60px;
    /* margin: 5px; */
    height:60px;
}
.navbar{
    background-color: #004d40 !important;
    font-size: 20px;
    padding: 6px;
}

.nav-link{
    color: white !important;
}

.dropdown-item{
    font-size: medium;
    padding: 10px;
}