<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../../assets/images/ict-logo.jpg" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/homeuser">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/halllist-user">Halls</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/bookinglist">Booking List</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/booking">Booking</a>
            </li>
            
            <!-- <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li> -->

        </ul>
    </div>

    <form class="form-inline my-2 my-lg-0">
        <button class="btn signout my-2 my-sm-0" type="submit" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true">Signout</i></button>
    </form>
</nav>