<app-admin-header></app-admin-header>

<!-- <h2>Register</h2> -->
<form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="heading-align">
        <p class="heading">Lets Get Started !!</p>
    </div>
    <div class="form-row">
        <div class="col-sm-8">

            <div class="form-row">
                <div class="col" style="padding: 10px;">
                    <!-- <div class="form-group inputalign">
                        <label for="ictakid">ICTAKID</label>
                        <input type="text" formControlName="ictakid" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.ictakid.errors }" />
                        <div *ngIf="submitted && registerForm.ictakid.errors" class="invalid-feedback">
                            <div *ngIf="registerForm.ictakid.errors.required">ICTAKID is required</div>
                        </div>
                    </div> -->
                    <div class="form-group inputalign">
                        <label for="name">Name</label>
                        <input type="text" formControlName="name" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && registerForm.name.errors }" />
                        <div *ngIf="submitted && registerForm.name.errors" class="invalid-feedback">
                            <div *ngIf="registerForm.name.errors.required">Name is required</div>
                        </div>
                    </div>
                    <div class="form-group inputalign">
                        <label for="email">Email</label>
                        <input type="text" formControlName="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && registerForm.email.errors }" />
                        <div *ngIf="submitted && registerForm.email.errors" class="invalid-feedback">
                            <div *ngIf="registerForm.email.errors.required">Email is required</div>
                        </div>
                    </div>
                    <div class="form-group inputalign">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && registerForm.password.errors }" />
                        <div *ngIf="submitted && registerForm.password.errors" class="invalid-feedback">
                            <div *ngIf="registerForm.password.errors.required">Password is required</div>
                            <div *ngIf="registerForm.password.errors.minlength">Password must be at least 6 characters
                            </div>
                        </div>
                    </div>
                    <div class="form-group inputalign">
                        <label for="mobile">Mobile No</label>
                        <input type="number" formControlName="mobile" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && registerForm.mobile.errors }" />
                        <div *ngIf="submitted && registerForm.mobile.errors" class="invalid-feedback">
                            <div *ngIf="registerForm.mobile.errors.required">Mobile No is required</div>
                            <div *ngIf="registerForm.mobile.rrors.minlength">Mobile No: must be at least 10 numbers
                            </div>
                        </div>
                    </div>
                    <div class="form-group inputalign">
                        <label for="role">Role</label>
                        <!-- <select formControlName="role" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && registerForm.role.errors }">
                            <option [ngValue]="null" disabled>Select Role</option>
                            <option *ngFor="let role of roleList" [ngValue]="role.id">{{role.name}}</option>
                        </select> -->
                        <select class="form-select form-select-lg mb-3" formControlName="role" id="exampleFormControlSelect1">
                            <option value="admin">Admin</option>
                            <option value="user">User</option>
                          </select>
                        <div *ngIf="submitted && registerForm.role.errors" class="invalid-feedback">
                            <div *ngIf="registerForm.role.errors.required">Role is required</div>
                        </div>
                    </div>
                </div>

                <div class="col" style="padding: 10px;">
                    <div class="form-group inputalign">
                        <label for="jobTitle">Job Title</label>
                        <input type="text" formControlName="jobTitle" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && registerForm.jobTitle.errors }" />
                        <div *ngIf="submitted && registerForm.jobTitle.errors" class="invalid-feedback">
                            <div *ngIf="registerForm.jobTitle.errors.required">Job Title is required</div>
                        </div>
                    </div>
                    <div class="form-group inputalign">
                        <label for="department">Department</label>
                        <input type="text" formControlName="department" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && registerForm.department.errors }" />
                        <div *ngIf="submitted && registerForm.department.errors" class="invalid-feedback">
                            <div *ngIf="registerForm.department.errors.required">Departmentis required</div>
                        </div>
                    </div>
                    <div class="form-group inputalign">
                        <label for="address">Address</label>
                        <input type="text" formControlName="address" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && registerForm.address.errors }" />
                        <div *ngIf="submitted && registerForm.address.errors" class="invalid-feedback">
                            <div *ngIf="registerForm.address.errors.required">Address is required</div>
                        </div>
                    </div>
                    <div class="form-group inputalign form-row">
                        <div class="col">
                            <label for="district">District</label>
                            <input type="text" formControlName="district" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && registerForm.district.errors }" />
                            <div *ngIf="submitted && registerForm.district.errors" class="invalid-feedback">
                                <div *ngIf="registerForm.district.errors.required">District is required</div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="state">State</label>
                            <input type="text" formControlName="state" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && registerForm.state.errors }" />
                            <div *ngIf="submitted && registerForm.state.errors" class="invalid-feedback">
                                <div *ngIf="registerForm.state.errors.required">Last Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group inputalign">
                        <label for="pinCode">Pincode</label>
                        <input type="text" formControlName="pinCode" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && registerForm.pinCode.errors }" />
                        <div *ngIf="submitted && registerForm.pinCode.errors" class="invalid-feedback">
                            <div *ngIf="registerForm.pinCode.errors.required">Pincode is required</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col form-group inputalign buttonalign">
                <button [disabled]="loading" class="btn btn-primary btncls">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
            </div>

        </div>
        <div class="col-sm-4 align-img">
            <img src="../../assets/images/registration.jpg" class="d-block w-100" alt="...">
            <!-- <div class="login_link">
                Already have an account? &nbsp;<a href="login">Login</a>
            </div> -->
        </div>
    </div>



</form>