form {
    width: 60%;
    margin: 60px auto;
    background: #efefef;
    padding: 60px 100px 50px 100px;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  }

  .inputalign{
    margin-bottom: 20px;
  }

  .buttonalign{
    display: flex;
    justify-content: center;
  }

body{
 background-color: #badd8b !important;
}