form {
  width: 50%;
  margin: 60px auto;
  background: #efefef;
  padding: 35px 24px 24px 54px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.inputalign {
  margin-bottom: 20px;
}

.buttonalign {
  display: flex;
  justify-content: center;
}

.align-img{
  padding: 175px 4px 20px 4px;;
}

.btn{
  background-color: #004d40 !important;
}