form {
  width: 50%;
  margin: 60px auto;
  background: #efefef;
  padding: 35px 24px 24px 54px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.inputalign {
  margin-bottom: 20px;
}

.buttonalign {
  display: flex;
  justify-content: center;
}

.align-img{
  padding: 150px 4px 40px 14px;
}

.btn{
  background-color: #004d40 !important;
  width: 70px;
  height: 32px;
  font-size: 12px;
}

.login_link{
  display: flex;
  justify-content: center;
}

.heading-align{
  margin: 0px 0px 30px 0px;
}

.heading{
  font-size: x-large;
  font-family: fantasy;
  color: #004d40;
}

.form-control{
  font-size: 14px;
}