.addhall {
    margin-top: 100px;
    width: 750px;
    background: #efefef;
    color: #004d40;
}

.card { 
    width: 700px;
    height:550px;
    margin-top: 100px;
    background: black;
    opacity: .75;
    color: white;
}

.form-control{
    padding: 7px;
}

.btn{
    background-color: #004d40 !important;
    color: white;
  }