 
<div>
    <img src="../../assets/images/ict-logo.jpg" alt="">
    <a routerLink="home">Home</a>
    <a routerLink="login">Login</a>
    <a routerLink="registration">Registration</a>  
    <a routerLink="users">Users</a>
    <!-- <a routerLink="user-list">User List</a> -->
    <a routerLink="add-hall">Add Hall</a>
    <a routerLink="conferenceRooms">Hall List(admin)</a>
    <a routerLink="halllist-user">Hall List(Users)</a>
    <a routerLink="booking">Booking</a>
    <a routerLink="bookinglist">Booking list</a>
    <a routerLink="admin-approval">Booking Approval</a>
</div>

