<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">John Will</span><span class="text-black-50">johnWill@gmail.com</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">First Name</label>
                    <p class="user-field">John</p>
                    </div>
                    <div class="col-md-6"><label class="labels">Last Name</label>
                        <p class="user-field">Will</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label>
                        <p class="user-field">+91 9844112233</p>
                    </div>
                    <div class="col-md-12"><label class="labels">Email ID</label></div>
                    <p class="user-field">johnWill@gmail.com</p>
                    <div class="col-md-12"><label class="labels">Address</label>
                        <p class="user-field">Evergreen House</p>
                    </div>
                    <div class="row mt-3"></div>
                    <div class="col-md-6"><label class="labels">State</label>
                    <p class="user-field">Kerala</p></div>
                    <div class="col-md-6"><label class="labels">District</label>
                    <p class="user-field">Pathanamthitta</p></div>
                    <div class="row mt-3"></div>
                    <div class="col-md-12"><label class="labels">Postcode</label>
                    <p class="user-field">689649</p></div>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-left">Work Details</h4>
            </div>
                <div class="col-md-12"><label class="labels">Job Title</label>
                    <p class="user-field">Assistant Professor</p>
                </div> <br>
                <div class="col-md-12"><label class="labels">Subject</label>
                    <p class="user-field">MEAN stack</p>
                </div>
                <div class="col-md-12"><label class="labels">Experience</label>
                    <p class="user-field">3 years</p>
                </div>
                <div class="col-md-12"><label class="labels">Joining Date</label>
                    <p class="user-field">11-12-2021</p>
                </div>
                <div class="col-md-12"><label class="labels">Employee Id</label>
                    <p class="user-field">102</p>
                </div>
                <div class="col-md-12"><label class="labels">Department</label>
                    <p class="user-field">Computer Science</p>
                </div>
            </div>
            <div class="mt-5 text-right">
                <button class="btn btn-primary profile-button" type="button">Delete</button>
                <button class="btn btn-primary profile-button" type="button">Edit</button></div>
        </div>
    </div>
</div>
