<app-user-header></app-user-header>

<div>
  <form #addbooking="ngForm" (ngSubmit)="addbookingfn()">
    <h2>Boooking Details</h2>
    <!-- <h4>ICTAK ID</h4>
    <input id="userid" name="userid" type="text" required [(ngModel)]="booking.userid">
    <h4>Associate Name</h4>
    <input type="text" id="name" name="name" required [(ngModel)]="booking.name"> -->
    <h4>Hall Name</h4>
    <select id="hallname" name="hallname" [(ngModel)]="booking.hallname">
      <option [value]=""></option>
      <option *ngFor="let i of halls" [value]="i.name">{{i.name}}</option>
    </select>
    <!-- <input type="text" id="hallname" name="hallname" required  [(ngModel)]="booking.hallname"> -->
    <h4>Date</h4>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label></mat-label>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <input type="text" id="date" name="date" required matInput [matDatepicker]="picker" [min]="minDate" [max]="maxdate" [(ngModel)]="booking.date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <h4>Time Duration</h4>
    <p>Start Time</p>
    <input type="time" id="starttime" name="starttime" required  [(ngModel)]="booking.starttime">
    <p>End Time</p>
    <input type="time" id="endtime" name="endtime" required  [(ngModel)]="booking.endtime">
    <button type="submit">Submit</button>
  </form>
</div>