<app-user-header></app-user-header>

<!-- image overlay -->
<div class="card bg-dark text-white">
  <img class="card-img" src="../../assets/images/conf-3.webp" alt="Card image">
  <div class="card-img-overlay">
    <h1 class="card-title">EXPLORE YOUR CO-WORKING CONFERENCE HALL</h1>
    <h3 class="card-text">Flexible Workspaces Availble At your Finger Tips Now..!!</h3>
    
  </div>
  <!--  -->

  <!-- cards -->
</div>
<div class="container">
  <div class="row">
    <div class="col-4"  *ngFor="let i of halls">
      <div class="card">
        <img src={{i.image}} class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">{{i.name}}</h2>
          <p class="card-text"><b>Seating Capacity </b>: {{i.capacity}}</p>
          <p class="card-text"><b>Location</b>: {{i.location}}</p>
          <p class="card-text"><b>Description</b>: {{i.description}}</p>
          <a href="booking" class="btn">Book Now</a>
        </div>

      </div>
    </div>

  </div>
</div>