.card-img{
  height: 90px;
  width: 100%;
}

.card-img-top{
  height: 200px;
}

.container{
  padding: 5px;
}

.btn{
  background-color: #004d40;
  color: white;
  margin-left: 130px;
}

h1{
  text-align: center;
  font-family: fantasy;
  font-size: xx-large;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
  
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


