<!-- image overlay -->
<div class="card bg-dark text-white">
  <img class="card-img" src="../../assets/images/conf-3.webp" alt="Card image">
  <div class="card-img-overlay">
    <h1 class="card-title">EXPLORE YOUR CO-WORKING CONFERENCE HALL</h1>
    <h3 class="card-text">Flexible Workspaces Availble At your Finger Tips Now..!!</h3>
    
  </div>
  <!--  -->

  <!-- cards -->
</div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <img src="../../assets/images/creative.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h2 class="card-title">Collective Conference Hall</h2>
          <p class="card-text">Collective Conference hall is located on 3rd floor of ICTAK. It has 2 elevators. The conference hall is theater-syle set up, equipped according to the latest technology and can accomodate upto 30 persons.Hall is availble every Monday to Saturday from 9 Am to 6 Pm. Hall is fully air conditioned and have room size 15*12. Secure business grade internet, WiFi, Phone hanset and lines are provided.</p>
          <a href="booking" class="btn">Book Now</a>
        </div>

      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <img src="../../assets/images/conf-5.png" alt="" class="card-img-two">
        <div class="card-body">
          <h2 class="card-title">Central Meeting Hall</h2>
          <p class="card-text">Central Meeting Hall is located on 2nd floor of ICTAK. It has 2 elevators. The conference hall is theater-syle set up, equipped according to the latest technology andl can accomodate upto 15 persons.Hall is availble every Monday to Saturday from 9 Am to 6 Pm. Hall is fully air conditioned and have room size 12*10. Secure business grade internet, WiFi, Phone hanset and lines are provided.</p>
          <a href="booking" class="btn">Book Now</a>
        </div>

      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <img src="../../assets/images/conf-4.jpg" alt="" class="card-img-three">
        <div class="card-body">
          <h2 class="card-title">Growing Horizon Hall</h2>
          <p class="card-text">Growing Horizon Hall is located on 1st floor of ICTAK. The conference hall is theater-syle set up, equipped according to the latest technology andl can accomodate upto 10 persons.Hall is availble every Monday to Saturday from 9 Am to 6 Pm. Hall is fully air conditioned and have room size 12*10. Secure business grade internet, WiFi, Phone hanset and lines are provided.</p>
          <a href="booking" class="btn">Book Now</a>
        </div>

      </div>
    </div>
  </div>
</div>