<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
<ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Id</div>
      <div class="col col-2">Name</div>
      <div class="col col-3">Job Title</div>
      <div class="col col-4">Email</div>
      <div class="col col-5">Manage</div>
    </li>

    <li class="table-row" *ngFor = "let user of users">
      <div class="col col-1" data-label="Id">1.</div>
      <div class="col col-2" data-label="Name">{{user.firstName}} {{user.lastName}}</div>
      <div class="col col-3" data-label="JobTitle">{{user.jobTitle}}</div>
      <div class="col col-4" data-label="Email">{{user.email}}</div>
      <div class="col col-5">
        <button type="button" class="faviconimg"><i class="fa fa-eye"></i> </button>
        <button type="button" class="faviconimg"><i class="fa fa-trash" (click)="goToDeleteUser(user)"></i> </button>
        <button type="button" class="faviconimg"><i class="fa fa-edit" (click)="goToEditUser(user)"></i> </button>
      </div>
    </li>

<!-- 
    <li class="table-row">
      <div class="col col-1" data-label="Id">1.</div>
      <div class="col col-2" data-label="Name">John Doe</div>
      <div class="col col-3" data-label="JobTitle">Teacher</div>
      <div class="col col-4" data-label="Email">johndoe@gmail.com</div>
      <div class="col col-5">
        <button type="button" class="faviconimg"><i class="fa fa-eye"></i> </button>
        <button type="button" class="faviconimg"><i class="fa fa-trash"></i> </button>
        <button type="button" class="faviconimg"><i class="fa fa-edit"></i> </button>
      </div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Id">2.</div>
      <div class="col col-2" data-label="Name">John Doe</div>
      <div class="col col-3" data-label="JobTitle">Teacher</div>
      <div class="col col-4" data-label="Email">johndoe@gmail.com</div>
      <div class="col col-5">
        <button type="button" class="faviconimg"><i class="fa fa-eye"></i> </button>
        <button type="button" class="faviconimg"><i class="fa fa-trash"></i> </button>
        <button type="button" class="faviconimg"><i class="fa fa-edit"></i> </button>
      </div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Id">3.</div>
      <div class="col col-2" data-label="Name">John Doe</div>
      <div class="col col-3" data-label="JobTitle">Teacher</div>
      <div class="col col-4" data-label="Email">johndoe@gmail.com</div>
      <div class="col col-5">
        <button type="button" class="faviconimg"><i class="fa fa-eye"></i> </button>
        <button type="button" class="faviconimg"><i class="fa fa-trash"></i> </button>
        <button type="button" class="faviconimg"><i class="fa fa-edit"></i> </button>
      </div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Id">4.</div>
      <div class="col col-2" data-label="Name">John Doe</div>
      <div class="col col-3" data-label="JobTitle">Teacher</div>
      <div class="col col-4" data-label="Email">johndoe@gmail.com</div>
      <div class="col col-5">
        <button type="button" class="faviconimg"><i class="fa fa-eye"></i> </button>
        <button type="button" class="faviconimg"><i class="fa fa-trash"></i> </button>
        <button type="button" class="faviconimg"><i class="fa fa-edit"></i> </button>
      </div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Id">5.</div>
      <div class="col col-2" data-label="Name">John Doe</div>
      <div class="col col-3" data-label="JobTitle">Teacher</div>
      <div class="col col-4" data-label="Email">johndoe@gmail.com</div>
      <div class="col col-5">
        <button type="button" class="faviconimg"><i class="fa fa-eye"></i> </button>
        <button type="button" class="faviconimg"><i class="fa fa-trash"></i> </button>
        <button type="button" class="faviconimg"><i class="fa fa-edit"></i> </button>
      </div>
    </li>
     -->
  </ul>
</div>